# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List of data science libraries
- List of Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Julia
5. Scala
6. SQL
7. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scikit learn
5. Pytorch

In [ ]:
|Data Science Tools|
|:-----------------|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [ ]:
## Author
Syazwan Ezzaq